h1 {
  font-family: helvetica;
  font-weight: 200;
}
body{
  margin: 0px;
}
.home-page, .other-page{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 40px;
  flex-direction: column;
}
.home-page > button, .other-page > button{
  background-color: #188FFF;
  padding: 10px;
  border: 0px;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}